<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="main.js"></script>
</head>

<body>
    <div class="wrapper">
        <div id="todo">
            <div class="todo-header">
                <h1>TODO-LIST</h1>
                <div>
                    <input v-model="newItem" class="new-todo" name="title" placeholder="add todo">
                    <button @click="addItem" class="add-btn">add</button>
                </div>
            </div>
            <todo-item v-for="(todo, index) in todoList" :todo="todo" :key="index"></todo-item>
        </div>
    </div>

</body>

</html>